html,
body {
    width: 100%;
    height: 100%;
}

h3 {
    margin-top: 8px;
}

#main-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.filters {
    margin-top: 8px;
    margin-bottom: 8px;
}

#submit-btn,
#clear-all-btn {
    margin: 8px
}

#tip-box {
    height: 16px;
    margin-top: 4px;
    margin-bottom: 12px;
}

#tip-message {
    display: none;
    color: red;
}