html,
body {
    height: 100%;
}

#main-box {
    height: 100%;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#start-btn {
    width: 100%;
}